
body{
    margin:0;
    background-color:beige ;
    height:100vh;
    border:5px solid;color:green;
    
}
/*this is the parent div*/
#card{
    
   display: inline-block;
   border-radius: 10px;
   margin-top: 20vh;
   
   
}
/*this is the top save button*/
.icon{
    display:inline-block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-style: italic;
    color:black;
    border-radius: 10px;
    margin-left: 315px;
    
    background-color:white ;
    transform:translateX(-520px) ;
    transition: transform 1s;
   
  /*this is the bottom icons*/  
}
.icon-2{
    display:inline-block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-style: italic;
    color:black;
    border-radius: 10px;
    margin-left:auto;
    text-align: center;
    background-color:white ;
    transform:translateX(-520px) ;
    transition: transform 1s;
    margin-top: 450px;
}
.photo{
    display: inline-block;
     border: 5px solid; color:orange;  
   
    margin-left: 35%;
    margin-right: 35%;
    overflow:hidden;
    transition: box-shadow .5s;
}

 

  .photo:hover{
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.55); 
    transition: box-shadow .5s;
  }
  .photo-overlay{
    position: absolute; 
    top:0;
    bottom: 0;
    left:0;
    right:0;

  }
  .photo:hover .icon{
    transform:translateX(0px);
  }