
body{
    margin:0;
    background-color: bisque;
    
}
#card{
    
   display: inline-block;
   border-radius: 10px;
   margin-top: 20vh;
   
   
}

.icon{
    display:inline-block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-style: italic;
    color:black;
    border-radius: 10px;
    margin-left: 315px;
    
    background-color:white ;
    transform:translateX(-520px) ;
    transition: transform 1s;
   
    
}

.photo{
    display: inline-block;
       
    border-color: black;
    margin-left: 25%;
    margin-right: 25%;
    overflow:hidden;
    transition: box-shadow .5s;



  }
  .photo img{
    
    border-color: black;
    border-radius:10px;

    
  }

  .photo:hover{
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.55); 
    transition: box-shadow .5s;
  }
  .photo-overlay{
    position: absolute; 
    top:0;
    bottom: 0;
    left:0;
    right:0;

  }
  .photo:hover .icon{
    transform:translateX(0px);
  }